// scss-docs-start theme-color-variables Customize your color option here
:root,
[data-bs-theme=light] {
  --bs-body-bg: #ffffff;
  --bs-white: #ffffff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-card-bg: #ffffff;
  --bs-body-color: #545454;
  --paragraphColor: #545454;
  --bs-muted: #545454;
  --bs-muted-2: #545454;
  --bs-body-color-rgb: 84, 84, 84;
  --bs-dark-text: #545454;
  --bs-primary: #00357a;
  --bs-light: #f7f7f7;
  --bs-light-gray: #ffffffa8;
  --bs-dark: #545454;
  --bs-primary-rgb: 0, 53, 122;
  --bs-light-rgb: 247, 247, 247;
  --bs-dark-rgb: 84, 84, 84;
  --bs-primary-2: #004794;
  --bs-primary-text-emphasis: #00357a;
  --bs-primary-bg-subtle: #e6ecf5;
  --bs-primary-bg-dark: #002d5f;
  --bs-primary-border-subtle: #d0dcec;
  --bs-danger-bg-subtle:#d0dcec;
  --headingColor: #545454;
  --bs-link-color: #545454;
  --bs-link-color-rgb: 84, 84, 84;
  --bs-link-hover-color: #00357a;
  --bs-link-hover-color-rgb: 0, 53, 122;
  --bs-link-decoration: underline;
  --bs-code-color: #00357a;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-color: #efefef;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-nav-color: #212529;
  --bs-dashboard-bg: #2e3338;

  --body-font-family: 'Jost', sans-serif;
}

// Import Font Family
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap');