// scss-docs-start theme-color-variables Customize your color option here
:root,
[data-bs-theme=light] {
  --bs-body-bg: #ffffff;
  --bs-white: #ffffff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-card-bg: #ffffff;
  --bs-body-color: #2b2b2b;
  --paragraphColor: #2b2b2b;
  --bs-muted: #444c55;
  --bs-muted-2: #444c55;
  --bs-body-color-rgb: 43, 43, 43;
  --bs-dark-text: #212529;
  --bs-primary: #00357a;
  --bs-light: #f7f7f7;
  --bs-light-gray: #ffffffa8;
  --bs-dark: #212529;
  --bs-primary-rgb: 0, 53, 122;
  --bs-light-rgb: 247, 247, 247;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-2: #004a9e;
  --bs-primary-text-emphasis: #00357a;
  --bs-primary-bg-subtle: #e6ecf5;
  --bs-primary-bg-dark: #002d5c;
  --bs-primary-border-subtle: #cce0f0;
  --bs-danger: #00357a;
  --bs-danger-rgb: 0, 53, 122;
  --bs-danger-bg-subtle: #e6ecf5;
  --bs-danger-bg-dark: #002d5c;
  --bs-danger-border-subtle: #cce0f0;
  --headingColor: #2b2b2b;
  --bs-link-color: #212529;
  --bs-link-color-rgb: 28, 28, 28;
  --bs-link-hover-color: #00357a;
  --bs-link-hover-color-rgb: 0, 53, 122;
  --bs-link-decoration: underline;
  --bs-code-color: #00357a;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-color: #efefef;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-nav-color: #212529;
  --bs-dashboard-bg: #2e3338;

  --body-font-family: 'Jost', sans-serif;
}

// Import Font Family
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400;500;600;700;800&display=swap');